<div class="container m-0">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="login-card">
        <form [formGroup]="loginform" style="border:1px solid black;" class="p-4">
          <h1 class="text-center mb-3">Login Form</h1>
         <div class="mb-3">
           <label for="exampleInputEmail1" class="form-label">Email address</label>
           <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp">

         </div>
         <div class="mb-3">
           <label for="exampleInputPassword1" class="form-label">Password</label>
           <input type="password" formControlName="password" class="form-control" id="password">
         </div>
         <button type="submit" class="btn btn-primary w-100" (click)="loginFunction()">Login</button>
         <div class="text-center mt-3">
           <span>New User? Click to <a routerLink="/signup" style="text-decoration:none;">SignUp</a></span>
         </div>
       </form>
      </div>
    </div>
  </div>
</div>
